switch-custom{
    user-select:none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius:9999px;
    width:54px;
    height:26px;
    background-color:#6db1d6;
    box-sizing:border-box;
}
switch-custom.off{
    padding-left:3px;
    padding-right:9px;
}
switch-custom.on{
    padding-right:3px;
    padding-left:9px;
}
choice-one,choice-two{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
}

switch-custom.on choice-one,switch-custom.off choice-two{
    color:white;
}

switch-custom.off choice-one,switch-custom.on choice-two{
    border-radius:9999px;
    width:20px;
    height:20px;
    background:white;
}