backgrounded-content{
    display:block;
    width:100%;
    background:#d9fbff;
    background-image:url('//localhost:3000/Dallas.png');
    background-size:100%;
    background-repeat: no-repeat;  
    color:#65aed5;
    box-sizing:border-box;
    height: 0;
    padding-top: 58%;
    position: relative;
}
cloud{
    position:absolute;
}
cloud[data-type="1"]{
    position:absolute;
    right: -88px;
    top: 12%;
   }

cloud[data-type="2"]{
 position:absolute;
 left: -74px;
 top: 44%; 
}