card-view{
    color:black;
    background:white;
    display:flex;
    border-right: 1px solid #d8d8d8;
    flex-direction:column;
    align-items:center;
    flex:1;
    padding-top:20px;
    padding-bottom:30px;
}
card-view div{
    flex:1;
}

card-view div:first-child{
    font-size:14px;
}

card-view div:nth-child(3){
    font-size:24px;
}