html{
    background: rgb(17,93,163); 
    background: linear-gradient(45deg, rgba(17,93,163,1) 0%, rgba(67,177,202,1) 100%);
    color:white;
    font-weight:bold;
    height: 100vh;
}
*{
    overflow-x: hidden;
}
@media (max-width:768px){
    cursor:pointer; /*needed for mobile click events https://stackoverflow.com/a/27525707*/
}

site-frame{
    display:block;
    width:100%;
    margin-top:100px;
}

header{
    margin-bottom:20px;
}

app-main{
    display:block;
    max-width: 670px;
    margin-left:auto;
    margin-right:auto;
    background:#d9fbff;
}