

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

temperature{
  font-size:48px;
  font-weight:600;
}

degree{
  position:relative;
  right: 11px;
  bottom: 18px;

}

temperature + condition{
  height:64px;
  margin-left:6px;
  margin-right:10px;
}
condition img{
  display:inline-block;
  vertical-align:bottom;
}
right{
  font-size:14px;
}
right condition{
  display:block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




